@keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes fade-out {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

@keyframes fade-up {
  from {
    opacity: 1;
    transform: translateY(0) scaleY(1);
  }
  to {
    opacity: 0;
    transform: translateY(-100%) scaleY(0);
  }
}

@keyframes fade-down {
  from {
    opacity: 0;
    transform: translateY(-100%);
    box-shadow: none;
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
