html,
body,
#app {
  height: 100%;
  margin: 0;
  padding: 0;
}

html {
  background: #f4f5f5;
}

html.dark {
  background: #121212;
  color-scheme: dark;
}

body {
  -webkit-text-size-adjust: none;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

body,
html {
  width: 100%;
  min-width: 320px;
  min-height: 100vh;
  direction: ltr;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: auto;
  -moz-osx-font-smoothing: auto;
  -ms-overflow-style: -ms-autohiding-scrollbar;
  scroll-behavior: smooth;
  font-family: PingFangSC, helvetica neue, hiragino sans gb, arial, microsoft yahei ui, microsoft yahei, simsun,
    sans-serif;
}

// Hide the scrollbar
body::-webkit-scrollbar {
  display: none;
  width: 0;
}

// combo class
.flex-center {
  @apply flex place-content-center place-items-center;
}

// From relevents
.form {
  display: flex;
  flex-direction: column;
  gap: 2rem;

  label::after {
    content: "";
    background-color: #ffd900;
    position: relative;
    display: block;
    width: 3rem;
    height: 10px;
    top: -0.8rem;
    opacity: 0.3;
    border-radius: 1px;
    clear: both;
  }

  input {
    outline: none;
    @apply dark:bg-base-dark;
  }

  input[type="text"],
  input[type="password"] {
    @apply border border-gray-400 dark:border-light-800;

    padding: 0.5rem 1rem;
    border-radius: 3px;

    &:hover {
      @apply border-primary dark:border-secondary;
    }

    &:focus {
      @apply border-accent dark:border-primary;
    }
  }
  input[type="submit"] {
    @apply bg-primary;

    padding: 0.5rem 1rem;
    border-radius: 3px;
    outline: unset;
    color: #fff;

    &:hover {
      background-color: rgb(64, 0, 255);
    }
  }

  .input-group {
    display: flex;
    flex-direction: column;
  }

  .term-line {
    padding: 1rem 0;
    font-size: 0.8rem;
    em {
      text-decoration: underline;
    }
  }
}

.input-inline {
  @apply shadow dark:shadow-none
  :first-child {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
  }

  :not(:first-child):not(:last-child) {
    border-radius: 0;
  }

  :last-child {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
  }
}

.icon-responsive {
  @apply w-4 sm:w-4 md:w-5 lg:w-6 xl:w-7;
}
