body {
  -webkit-text-size-adjust: none;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

body,
html {
  width: 100%;
  min-width: 320px;
  min-height: 100vh;
  direction: ltr;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: auto;
  -moz-osx-font-smoothing: auto;
  -ms-overflow-style: -ms-autohiding-scrollbar;
  scroll-behavior: smooth;
  font-family: PingFangSC, helvetica neue, hiragino sans gb, arial, microsoft yahei ui, microsoft yahei, simsun,
    sans-serif;
}
// Hide the scrollbar
body::-webkit-scrollbar {
  display: none;
  width: 0;
}

// combo class
.flex-center {
  @apply flex place-content-center place-items-center;
}

// From relevents
.form {
  display: flex;
  flex-direction: column;
  gap: 2rem;

  label::after {
    content: "";
    background-color: #ffd900;
    position: relative;
    display: block;
    width: 3rem;
    height: 10px;
    top: -0.8rem;
    opacity: 0.3;
    border-radius: 1px;
    clear: both;
  }

  input[type="text"],
  input[type="password"] {
    outline: unset;
    border-bottom: 1px solid #999;
    &:hover {
      border-bottom: 1px solid #333;
    }
    &:focus {
      border-bottom: 1px solid rgb(64, 0, 255);
    }
  }
  input[type="submit"] {
    padding: 0.5rem 1rem;
    border-radius: 3px;
    outline: unset;
    color: #fff;
    background-color: rgb(43, 0, 255);

    &:hover {
      background-color: rgb(64, 0, 255);
    }
  }

  .input-group {
    display: flex;
    flex-direction: column;
  }

  .term-line {
    padding: 1rem 0;
    font-size: 0.8rem;
    em {
      text-decoration: underline;
    }
  }
}
